@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

body {
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

.min-h-screen {
  min-height: calc(100vh - 60px);
}